// light color
$color--light: #ffffff;

// black color
$color--black: #000;

// text color

$color--text1: #111111;

$color--text2: #555555;

$color--text3: #969696;

$color--text-mid: #d9dbe1;

$color--text-disabled: #868686;

$color--text-secondary: #059669;
