@import 'variables';
@import 'utils';
@import 'fonts';
@import 'common';

body {
    margin: 0px;
    font-family: $font-inter;
    background-color: $color--light;
    color: $color--black;
    *[class^='ant-'] {
        font-family: $font-inter;
    }
}

.text-secondary {
    color: #004047;
}