@import 'scss/global.scss';

.dashboard-card {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 16px;
    margin: 20px;
    width: 240px;
    min-height: 80px;
    // border: 1px solid rgba(0, 0, 0, 0.6);
    &__title {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 12px;
        @include d-flex(row, center, space-around);
    }
    &__icon {
        margin-left: auto;
    }
    &__value {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 12px;
        min-width: 40px;
    }
    &__unit {
        font-size: 16px;
        font-weight: 500;
        padding-left: 8px;
    }
}
